# .env.example
PORT=9999
DB_URL=jdbc:sqlserver://127.0.0.1:1433;databaseName=ten_database;encrypt=true;trustServerCertificate=true;
DB_USER=sa
DB_PASS=mat_khau_cua_ban

EMAIL_SENDER=example@email.com
EMAIL_SENDER_APP_PASS=xxxxyyyyzzzzwwww